.container
{
	margin-top: 5px;
	padding: 1em;
	width: 40%;
	height: 93vh;
	background-color: white;
	border-radius: 1em;
	top: 50%;
}

.login-form
{
	margin: 0;
	width: 100%;
	text-align: center;
}

div.error-msg
{
	margin: 0 auto;	
	width: 200px;
	text-align: center;
}

body
{
	background-color: #f2f2f2;
	height: 100%;
}

img
{
	display: block;
	margin-left: auto;
  margin-right: auto;
}